@font-face {
  font-family: 'kepler-std-semicondensed-dis';
  src: url('https://use.typekit.net/af/78897f/000000000000000000012f83/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3') format('woff2'),
    url('https://use.typekit.net/af/78897f/000000000000000000012f83/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3') format('woff'),
    url('https://use.typekit.net/af/78897f/000000000000000000012f83/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3') format('opentype');
}

* {
  font-family: 'kepler-std-semicondensed-dis', serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

#__nuxt,
#__layout {
  height: 100%;
}

.container {
  height: 100%;
  background-image: url('../static/bg3.jpeg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer,
.header {
  background: initial;
}

.header {
  padding: 0 5%;
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}

.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}



.slidein-from-right-enter-active {
  animation: slidein-from-right2 500ms;
}

@keyframes slidein-from-right2 {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.scaleUp-enter-active {
  -webkit-animation: scaleUp .8s ease both;
  animation: scaleUp .8s ease both;
}

@-webkit-keyframes scaleUp {
  from {
    opacity: 0;
    -webkit-transform: scale(.8);
  }
}

@keyframes scaleUp {
  from {
    opacity: 0;
    -webkit-transform: scale(.8);
    transform: scale(.8);
  }
}
